/* Paste in code from your old files to save time and avoid typos! */

body{
	height:100vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
}

.left { 
	height:100vh;
	width:50vw;
	display:flex;
	flex-wrap:wrap;
}

.right { 
	height:100vh;
	width:50vw;
	display:flex;
	flex-wrap:wrap;
}
.card {
	height:50%;
	width:50%;
	border:0;
	margin:0;
	padding:0;
}

.red {
	background-color: red;
}
.jude{
	content: url(jude.gif);
	width:100%;
}
.finn{
	width:100%;
	content: url(finn.gif);
}
.darkred{
	background-color: darkred;
}
.evan{
	width:100%;
	content: url(evan.gif);
}
.madison{
content: url(madison.gif);
width:100%;

}
@media screen and (min-width:1000px) and (max-width: 1400px){
	body{
		display:block;
	}
	.left{
		height:60vh;
	    width:100vw;
	}
    .right{
	height:40vh;
	width:100vw;
	display:flex;
	flex-wrap:wrap;
	}
	.card {
	height:40vh;
	width:25%;
}
}
@media screen and (max-width: 999px){
	body{
		display:block;
	}
	.left{
		height:60vh;
	    width:100vw;
	}
    .right{
	height:40vh;
	display:block;
	width:100vw;
	}
	.card {
	height:40vh;
	width:100vw;
}
}
